$black85: rgba(0, 0, 0, 0.85);
$black25: rgba(0, 0, 0, 0.25);
$main-blue: #3388ff;
$blue-second: #eef6ff;
$blue-third: #ADD8FF;
$gray-second: #C0C2C9;
$gray-bg: #ebecee;
$white: #ffffff;
$font-size-sm: 12PX;
$font-size-md: 14PX;
$font-size-lg: 16PX;

@mixin font-size($fs:$font-size-lg, $lh:8PX) {
    line-height: $fs+$lh;
    font-size: $fs;
}

.react-mob-calendar {
    background-color: $white;
    width: 100%;
    overflow: hidden;
    font-size: $font-size-lg;
    user-select: none;

    .calendar-operate {
        @include font-size();
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12PX;
        height: 24PX;
        color: $black85;
        font-weight: 500;
    }

    .calendar-head {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 4PX;
    }

    .head-cell {
        @include font-size($font-size-sm, 6PX);
        display: flex;
        flex-basis: calc(100% / 7);
        align-items: center;
        justify-content: center;
        height: 18PX;
    }

    .calendar-body {
        position: relative;
        height: 252PX;
        overflow: hidden;

        &.week-mode {
            height: 38PX;
        }


    }

    .month-cell {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        will-change: transform;

        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        .day-cell {
            @include font-size($font-size-lg, 6PX);
            flex-basis: calc(100% / 7);
            position: relative;
            margin-bottom: 4PX;
            height: 38PX;
            color: $black85;



            &.is-other-month-day {
                color: $black25;
            }

            .day-text {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-weight: 800;
            }

            .dot-mark {
                position: absolute;
                bottom: 4PX;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                background-color: $gray-second;
                width: 4PX;
                height: 4PX;
            }

            &.current-day {
                .day-text {
                    border-radius: 6PX;
                    background: $blue-second;
                    color: $main-blue;
                }

                .dot-mark {
                    background-color: $blue-third;
                }
            }


        }
    }

    .bottom-operate {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 4PX;
        padding-bottom: 4PX;

        .bottom-operate-btn {
            display: block;
            position: relative;
            border-radius: 2.5px;
            background-color: $gray-bg;
            width: 40px;
            height: 4PX;

            &::after {
                display: block;
                position: absolute;
                top: -4PX;
                bottom: -4PX;
                left: 0;
                width: 100%;
                content: "";
                z-index: 20;
            }
        }

    }
}